Resume_en/build/
Resume_es/resume.cls
Resume_en/resume.aux
Resume_en/resume.fdb_latexmk
Resume_en/resume.out
Resume_en/resume.out
Resume_en/resume.log
Resume_en/resume.fls
Resume_en/resume.synctex.gz
Resume_es/Photo_resume.png
Resume_es/Photo2.jpeg
Resume_en/Photo_resume.png
Resume_en/Photo2.jpeg
Resume_es/resume_es.out
Resume_en/resume.cls
Resume_es/resume_es.aux
Resume_es/resume_es.fdb_latexmk
Resume_es/resume_es.fls
Resume_es/resume_es.log
Resume_es/resume_es.synctex.gz
Martín Rosales's Resume-hackerresume